<h1>Add Book</h1>
<form action="/books" method="post" enctype="multipart/form-data">
    <%- include('_form_fields.ejs') %> 
    <button>create</button>
    <button><a href="/books">cancel</a></button>
</form>