<header>
    <h1 id="heading"><a href="/">Book Web App</a></h1>
    <nav class="menu">
        <ul>
            <li><a href="/authors">All Author</a></li>
            <li><a href="/authors/new">New Author</a></li>
        </ul>
    </nav>
</header>